.dropdown-demo .p-dropdown {
  width: 14rem;
}

.dropdown-demo .country-item-value img.flag {
  width: 17px;
}

.card {
  display: grid;
  grid-template-columns: 350px 350px;
}

.addButton {
  position: absolute;
  right: 18%;
  top: 17px;
}

.App {
  display: flex;
  justify-content: center
}



.box {
  display: grid;
  grid-template-columns: 350px 350px 350px;
}

.inputBox {
  margin-right: 12px;
}

.main {
  min-width: 1000px;
}

.addButton {
  position: absolute;
  right: 18%;
  top: 17px;
}

.dropdown {
  display: grid;
  grid-template-columns: 350px 350px 350px;
}